name: Publish docs

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install package
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Build docs
      run: |
        cd docs
        make html

    - name: Publish docs
      uses: JamesIves/github-pages-deploy-action@v4.2.3
      with:
        branch: gh-pages
        folder: docs/_build/html
